# Database (Docker)
POSTGRES_DB=inventory_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres123
POSTGRES_PORT=5432

# pgAdmin (Docker)
PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=admin123

# Backend (local)
PORT=5000
DATABASE_URL=postgresql://postgres:postgres123@localhost:5432/inventory_db

# JWT Authentication
JWT_SECRET=38a67d9f648868753ea78ef376fe09b1d9355cfbee161f987f56ef4301a0c20b29f529cea5843547f33c74a9aefebf1d4a8ee278c4ac3211fe9e84e810410387

# Frontend (local)
VITE_API_URL=http://localhost:5000
CLIENT_URL=http://localhost:5173

# SMTP Configuration
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=nawodajalani@gmail.com
SMTP_PASS=brwhvbghkxlthbtk
