# Database (Docker)
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_PORT=

# pgAdmin (Docker)
PGADMIN_DEFAULT_EMAIL=
PGADMIN_DEFAULT_PASSWORD=

# Backend (local)
PORT=
DATABASE_URL=

# JWT Authentication
JWT_SECRET=

# Frontend (local)
VITE_API_URL=
CLIENT_URL=

# SMTP Configuration
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
